<body class="bg-color home-background-image">
  <div class="home-title">
      <h1 class="title font-cursive">Churn.io</h1>
      <h2 class="callout">Data hygiene, delivered.</h2>
  </div>
  <div class="container home-signup-links">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="well">
          <h2 class="text-center">Basic Membership</h2>
          <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h2 class="text-center">Pro Membership</h2>
          <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    </div>
  </div>
</body>

