/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.title {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 150px;
}

.callout {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
}

.home-title {
  text-align: center;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.title-brand {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #000000;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #090909 ;
}

.navbar-brand {
  color: #090909;
}


body { 
  /* Adds padding for the fixed nav bar on top so content doesn't overlay */
  padding-top: 50px;
  /* background gradient uigradient.com */
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #41295a , #2F0743); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #41295a , #2F0743); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}